/*選單-樣式*/
ul.x {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color:#009999;
    font-family:'微軟正黑體';
    font-size:12pt; 
}
li {
    float: left;
}
/*選單-文字*/
a1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*選單-觸動*/
a1:hover{
    background-color:#79e2a8;
}

/* 換頁條-樣式*/
ut.pagination { 
    display: inline-block; 
    padding: 0; 
    margin: 0; 
}
ut.pagination li {display: inline;}
 
/* 換頁條-文字*/
ut.pagination li a1 {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
/* 換頁條-觸動*/
ut.pagination a1:hover {
    background-color: rgba(103, 235, 195, 0.63);
    border-radius: 5px;
}
/*下拉式選單-樣式*/
.dropdown-content {
    display: none;
    position: absolute; 
    background-color: #1c9e9ec1;  
    min-width: 90px;
    z-index: 1;
}
.dropdown-content a1 {
    text-decoration: none;
    display: block;
  } 
  
.dropdown:hover .dropdown-content {
    display: block;
}
/* 搜尋引擎 */
input[type=search] {
    width: 130px;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('search_icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

div.x {
    list-style-type: none;
    margin: 0 auto; 
    font-family:'微軟正黑體';
    font-size:12pt; 
}
#rcorners6 {
    border-radius: 50%;
    background: rgba(243, 146, 238, 0.904);
    width: 500px;
    height: 250px;
    margin:0 auto;
    font-family:'微軟正黑體';
    font-size:16pt; 
    padding:80px;
} 